/* import fonts from google */
/* heading*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

/* content */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

/* navbar */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@1,8..60,300&display=swap');

/* variables for colors */
:root {
    --bg-main: #282F44;
    --fg-main: #ECECEC;
    --nav-fg: #F5D061;
    --nav-hover: #E6AF2E;

}

.site-header h1 {
    text-align: center;
    font-family: "Nunito", sans-serif;
}


body {
    font-family: "Lora", sans-serif;
    font-size: larger;
    background-color: var(--bg-main);
    color: var(--fg-main);
}

a {
    color: var(--nav-fg);
}

a:hover {
    color: var(--nav-hover);
}

.index-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-photo);
    /* max-width: 100%;
    height: auto; */
}

.site-footer p {
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 5%;
    justify-content: flex-end;
    font-family: "Source Serif 4", sans-serif;
}