<header class="site-header">
    {{ if .IsHome }}
        <h1>{{ .Site.Title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/samples">Samples</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    {{ else }}
        <h1>{{ .Site.Title }}</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/samples">Samples</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <h2>{{ .Title }}</h2>
    {{ end }}
</header>